@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f9f7f7; /* Example primary color */
  --color-secondary: #dbe2ef; /* Example secondary color */
  --color-accent: #3f72af; /* Example accent color */
  --color-background: #FFFFFF; /* Example background color */
  --color-text: #112d4e; /* Example text color */
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #112d4e; /* Example primary color */
    --color-secondary: #3f72af; /* Example secondary color */
    --color-accent: #dbe2ef; /* Example accent color */
    --color-background: #000000; /* Example background color */
    --color-text: #f9f7f7; /* Example text color */
  }
}

body {
  color: rgb(var(--color-text));
  background: rgb(var(--color-background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
